<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Developer Skills</h1>
    <ol>
      <% skills.forEach(function (skill) { %>
      <li>
        <a href="/skills/<%= skill.id %>"> <%= skill.name %></a>
        - <%= skill.critical ? "Critical Skill":"Not a Critical Skill"%>
      </li>
      <% }); %>
    </ol>
    <a href="/skills/new">Add Skill</a>
  </body>
</html>
